<h1>SLU Blog</h1>

<section id="content-section" class="container"></section>


<%= @creatures.each do |creatures| %>
<a href="/api/creatures/<%= %>"class="show-link" <%creatures[:name]%></h2></a>
<p> <%= creatures[:description]%> </p>
<% end %>
