<h1>SLU Blog</h1>
<nav>
  <ul>
    <a href="/"><li>Home</li><a/>
    <li id="all-creatures">All</li>
    <li id="createNew">Create</li>
  </ul>
</nav>

<section href="api/creatures/all" id="content-section" class="container">
<h1>All Creatures</h1>
</section>

<form id="newForm" type="submit" action="creatures/create">
  <input type="text" name="username"></input>
  <input type="text" name="creature" ></input>
  <button>Submit</button>
</form>


