<h1>Creatures#edit</h1>
<p>Find me in app/views/creatures/edit.html.erb</p>

<%= form_for @creature do |creature|%>
  <div>
    <%= creature.label :creature %>
    <%= creature.text_area :creature %>
  </div>
  <%=creature.submit%>
<% end %>
