<h1>Creatures#index</h1>
<p>Find me in app/views/creatures/index.html.erb</p>
<% @creatures.each do |creature|%>

    <button><%=link_to'Edit',edit_creature_path(creature) %></button>
    <button><%=link_to'delete',creature, method: :delete %></button>
    <p>Creature: <%= creature.creature %></p>
    <p>Submitted By: <%= creature.username%></p>

<% end %>
